body{
    background-color: #FFFFFF;
}

.contimgdiv {
    background-color: #00FF00;
    width: 100%;
    padding-top: 50%;
}

.contimgdiv img{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0px;
    left: 0px;
}

h1 {
    color: white;
}
