body {
  background-color: black;
  margin: 0;
}

.contimgdiv {
  position: relative;
  background-color: black;
  width: 100%;
  padding-top: 56.25%;
}

.contimgdiv img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.titulo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
}

.text {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5px;
  color: white;
  font-family: sans-serif;
}

.tempel {
  display: flex;
  overflow-x: auto;
}

.tempel a {
  margin: 8px;
  padding: 8px;
  background: #19b3d3;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.list {
  width: 100%;
  color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}

.capitulos {
  width: 100%;
  height: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.cap {
  width: 100%;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.capi {
  padding-left: 15px;
}

.cap a {
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  background: #19b3d3;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  white-space: nowrap;
}
